<div class ="container mt-4">
    <form action="/save" method="post">
        <div class = "form-group">
            <label>제목</label>
            <input type = "text" name = "title" class = "form-control">
        </div>
        </p><p>
        <div class = "form-group">
            <label>내용</label>
            <textarea name = "content" rows = "10" class="form-control"></textarea>
        </div><p></p>
        <div class = "form-group">
            <label>작성일</label>
            <input type="date" class="form-control" name "someDate">
        </div><p></p>
        <button type = "submit" class="btn btn-warning" style="float:right;">저장</button>
    <form>
    </div>